<div class="articles container">

    {{#each articles }}
    <div class="card">
      <h3 class="card-header">{{title}}</h3>
      <div class="card-body">
        <p class="card-text">{{description}}</p>
        <a class="card-link" href={{link}} target="_blank">{{link}}</a>
        <button data-id={{_id}} class="btn btn-outine-info">Save Article</button>
      </div>
    </div>
    <br />
    <br />
    {{/each}}

</div>
